@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}
	body {
		background-color: #ebeaef;
		width: 100vw;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
	h1 {
		@apply py-4 text-3xl;
	}
	h2 {
		@apply py-1 text-xl;
	}

	p {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}
}

@layer components {
	.bg-primary {
		background: linear-gradient(140deg, #d6e8c5, #f2f8ed);
	}
	.scroll-smooth {
		scroll-behavior: smooth;
	}
	.card {
		@apply rounded-2xl bg-white p-4;
	}
	.btn {
		@apply w-32 min-w-fit rounded px-2 py-1 text-sm transition-colors;
	}
	.btn-orange {
		@apply bg-orange-500 text-white hover:bg-orange-600;
	}
	.btn-emerald {
		@apply bg-emerald-500 text-white hover:bg-emerald-600;
	}
	.btn-blue {
		@apply bg-blue-500 text-white hover:bg-blue-600;
	}
	.btn-disabled {
		@apply bg-neutral-500 text-white;
	}

	.frosted-glass {
		backdrop-filter: blur(3px);
		/* background-color: rgb(0 0 0 / 15%); */
		/* background: linear-gradient(116deg, #0000001c, #00000045); */
		background: linear-gradient(116deg, #3f5048b5, #1b2621)
		/* background-color: rgba(255, 255, 255, 0.4); */
		/* box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25); */
		/* border: 1px solid rgba(64, 64, 64, 0.3); */
	}
}
