@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
	}
	body {
		background-color: #EBEAEF;
	}
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold;
	}
	h1 {
		@apply text-3xl py-4;
	}
	h2 {
		@apply text-xl py-1;
	}

	p {
		margin-block-start: 0.5em;
		margin-block-end: 0.5em;
	}
}

@layer components {
	.scroll-smooth {
		scroll-behavior: smooth;
	}
	.card {
		@apply bg-white rounded-2xl p-4 shadow-lg;
	}
	.btn {
		@apply rounded px-2 py-1 text-sm min-w-fit w-32 transition-colors;
	}
	.btn-orange {
		@apply bg-orange-500 hover:bg-orange-600 text-white;
	}
	.btn-emerald {
		@apply bg-emerald-500 hover:bg-emerald-600 text-white;
	}
	.btn-blue {
		@apply bg-blue-500 hover:bg-blue-600 text-white;
	}
	.btn-disabled {
		@apply bg-neutral-500 text-white;
	}

	.frosted-glass {
		backdrop-filter: blur(3px);
		background-color: rgba(0, 0, 0, 0.7);
		/* background-color: rgba(255, 255, 255, 0.7); */
		/* box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25); */
		/* border: 1px solid rgba(64, 64, 64, 0.3); */
	}
}
